homenavbar {
    #homenavbar{
    text-decoration: none;
    color: white;
    }
    .footer-above{
    background-color: #3e152b;
    color: white;
    }
    .footer-below{
    background-color: #3e152b;
    color: white;
    }
}