home-cmp {
    .jumbotron{
        background-image: url('../assets/img/room.jpg');
        color: white;
        background-size: 100% auto;
        text-align:center;
        width:100%;
        height:600px;
        margin-top: -20px;
        padding-top: 150px;
    }
    .footer-above{
    background-color: #3e152b;
    color: white;
    }
    .footer-below{
    background-color: #3e152b;
    color: white;
    }
}